graphviz
ipython
Pillow
contractions
spacy
Unidecode
nltk
# pycorenlp~=0.3.0
# coreferee~=1.4.0
# anytree~=2.8.0
numpy
requests
beautifulsoup4
python-slugify
# claucy~=0.0.2.0
pyspellchecker
sentence-transformers